<template id="item-template">
    <a id="item-id" productNumber = '' href="../productos/producto" class="card item-card">
        <img src="" alt="" id="item-img">
        <p id="item-detalles" class="detallesItem"></p>
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <use xlink:href="#add-circle">
        </svg>
        <p class="sumarUno">+1</p>
    </a>
</template>
