    <nav class="nav-flotante">
        <a href="#" id="userIcon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path stroke-width="2" stroke="#f3c443" fill="none" d="M11.1 35.25q3.15-2.2 6.25-3.375Q20.45 30.7 24 30.7q3.55 0 6.675 1.175t6.275 3.375q2.2-2.7 3.125-5.45Q41 27.05 41 24q0-7.25-4.875-12.125T24 7q-7.25 0-12.125 4.875T7 24q0 3.05.95 5.8t3.15 5.45ZM24 25.5q-2.9 0-4.875-1.975T17.15 18.65q0-2.9 1.975-4.875T24 11.8q2.9 0 4.875 1.975t1.975 4.875q0 2.9-1.975 4.875T24 25.5ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.775t4.3-6.35q2.725-2.725 6.375-4.3Q19.9 4 24 4q4.15 0 7.775 1.575t6.35 4.3q2.725 2.725 4.3 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.3 6.375-2.725 2.725-6.35 4.3Q28.15 44 24 44Zm0-3q2.75 0 5.375-.8t5.175-2.8q-2.55-1.8-5.2-2.75-2.65-.95-5.35-.95-2.7 0-5.35.95-2.65.95-5.2 2.75 2.55 2 5.175 2.8Q21.25 41 24 41Zm0-18.5q1.7 0 2.775-1.075t1.075-2.775q0-1.7-1.075-2.775T24 14.8q-1.7 0-2.775 1.075T20.15 18.65q0 1.7 1.075 2.775T24 22.5Zm0-3.85Zm0 18.7Z"/></svg>
        </a>
        <a href="/" id="homeIcon">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                <path stroke-width="2" stroke="#f3c443" fill="none" d="M11.25 38.75h7.8V26.5h9.9v12.25h7.8v-19.1L24 10.05l-12.75 9.6ZM9 41V18.5L24 7.2l15 11.3V41H26.65V28.75h-5.3V41Zm15-16.65Z"/>
            </svg>
        </a>
        <a href="/carro-compras" id="cartIcon">
            <svg xmlns="http://www.w3.org/2000/svg" height="45" width="45"><path stroke-width="1" stroke="#f3c443" fill="none" d="M14.35 43.95q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm20 0q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm-22.6-33 5.5 11.4h14.4l6.25-11.4Zm-1.5-3H39.7q1.15 0 1.75 1.05.6 1.05 0 2.1L34.7 23.25q-.55.95-1.425 1.525t-1.925.575H16.2l-2.8 5.2h24.55v3h-24.1q-2.1 0-3.025-1.4-.925-1.4.025-3.15l3.2-5.9L6.45 7h-3.9V4H8.4Zm7 14.4h14.4Z"/></svg>
        </a>
    </nav>
    <template id="nav-usuario">
        <div class="nav-modal">
            <div class="opciones-usuario">
                <a href="#" id="perfil-cliente">Tu perfil</a>
                <a href="#" id="compras-cliente">Compras realizadas</a>
                {{!-- <a href="#" ></a> --}}
                <a href="#" id="soporte-tecnico">Soporte técnico</a>
                <a href="#" id="cerrar-sesion">Cerrar sesión</a>
            </div>

            <p></p>
        </div>
    </template>