<div>
    {{> table-carro-compras}}
</div>

<script>
    document.getElementById('linkStyle').href = '../css/carrito.css'
</script>
<script type="module" src="../pages/carro-compras/carrito.js"></script>